:host ::ng-deep .tab-list-wrapper{
    border-radius: 0;
    color: #333333;
    .ui-tabmenu-nav {
      padding: 0;
      border-radius: 0;
      border-bottom: 0px;
      .ui-tabmenuitem {
        margin: 0px;
        border-radius: 0;
        border-bottom-width: 0px;
        background-color: transparent;
        border: 0px;

        &:not(.ui-state-active):not(.ui-state-disabled):hover {
          border: 0px solid #c8c8c8;
          border-bottom-width: 0px;
          background-color: transparent;
        }

        .ui-menuitem-link { padding: .8em 2em; }

        &.ui-state-active {
          background-color: transparent;
          color: inherit;
          border: 0px solid #c8c8c8;
          border-bottom: 3px solid #0096ff;
          .ui-menuitem-link {
            color: inherit;
            .ui-menuitem-icon {
              color: inherit
            }
            .ui-menuitem-text {
              color: inherit;  
            }
          }
        }

      }
    }
  
  }
  
  .d-flex{
    display: flex;
  }
  