<div class="p-grid p-align-center p-justify-center p-nogutter" style="height: 100%">
    <section class="w-25">
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class="form-control" placeholder="User Name" pInputText [(ngModel)]="user.userName" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" pInputText [(ngModel)]="user.userPassword" placeholder="*********"
                (keyup.enter)="onLogin()" />
        </div>
        <div class="form-group">
            <p-button label="Login" [disabled]="isLoading" (onClick)="onLogin()"></p-button>
        </div>
    </section>

</div>