<section class="d-flex p-col-12">
  <article>
    <p-button label="Add Column" icon="pi pi-plus text-success" styleClass="ui-button-secondary mr-3"
    (onClick)="openPopUp()"></p-button>
    <p-button label="Delete Column" icon="pi pi-times text-danger" styleClass="ui-button-secondary"
    (onClick)="deleteRecord()"></p-button>
  </article>
</section>


<!-- Result Data Grid -->
<section class="d-flex p-col-12">
  <article>
    <h5>Result Datagrid</h5>
    <p-table [value]="columnData" [(selection)]="resultRowSelection" [style]="{'width': '600px'}">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 50px;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Column 1</th>
          <th>Column 2</th>
          <th style="width: 70px;">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td>
            <input pInputText type="text" [(ngModel)]="rowData.colName" [disabled]="!rowData.colEditable">
          </td>
          <td>
            <span *ngIf="rowData.colType === 'Boolean'">
              <p-checkbox [(ngModel)]="checked" binary="true" [disabled]="!rowData.colEditable"></p-checkbox>
            </span>
            <span *ngIf="rowData.colType === 'Number'"> 
              <input pInputText type="number" placeholder="Number" [disabled]="!rowData.colEditable" />
            </span>
            <span *ngIf="rowData.colType === 'String'">
              <input pInputText type="text" [disabled]="!rowData.colEditable" placeholder="String" />
            </span>
            <span *ngIf="rowData.colType === 'Date'"> <p-calendar [(ngModel)]="rowData.columnDate" [showIcon]="true" appendTo="body" 
              [disabled]="!rowData.colEditable" placeholder="Date"></p-calendar> </span>
          </td>
          <td>
            <em class="text-success pi pi-check" *ngIf="rowData.colEditable" (click)="updateRow(rowData)"></em>
            <em class="text-danger pi pi-times" *ngIf="rowData.colEditable" (click)="deleteSingleRow(rowData)"></em>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">
            <div class="alert bg-primary text-white">No Records found</div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </article>
</section>

<!-- Column Master Grid -->
<section class="d-flex p-col-12">
  <article>
    <h5>Column Master</h5>
    <p-table [value]="columnReadbleData" [(selection)]="selectedRow" [style]="{'width': '600px'}">
      <ng-template pTemplate="header">
        <tr>
          <!-- <th style="width: 50px;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th> -->
          <th>Column Name</th>
          <th>Column Type</th>
          <th>Editable</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <!-- <td>
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td> -->
          <td>{{rowData.colName}}</td>
          <td>{{rowData.colType}}</td>
          <td>{{rowData.colEditable | yesNo}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3">
            <div class="alert bg-primary text-white">No Records found</div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </article>
</section>


<!-- Dialog Popup -->
<p-dialog [(visible)]="display" [style]="{'width': '500px'}" [contentStyle]="{'height':'300px'}" modal="true">
  <p-header>Add Column</p-header>
  <div class="pb-5">
    <div class="p-grid p-align-center">
      <div class="p-col-fixed" style="width:130px">
        Column Name:
      </div>
      <div class="p-col">
        <input type="text" class="form-control" placeholder="Column Name" pInputText [(ngModel)]="colRecord.colName" />
        <sup class="text-danger" [hidden]="true" *ngIf="!colRecord.colName">Column name is required</sup>
      </div>
    </div>
    <div class="p-grid p-align-center">
      <div class="p-col-fixed" style="width:130px">
        Column Type:
      </div>
      <div class="p-col">
        <span class="d-flex p-col-12"><p-dropdown appendTo="body" [options]="colType" [(ngModel)]="colRecord.colType" placeholder="Select a Type"></p-dropdown></span>
        <sup class="text-danger" [hidden]="true" *ngIf="!colRecord.colType">Column type is required</sup>
      </div>
    </div>
    <div class="p-grid p-align-center">
      <div class="p-col-fixed" style="width:130px">
        Editable:
      </div>
      <div class="p-col">
        <span class="d-flex p-col-12"><p-dropdown appendTo="body" [options]="colEditable" [(ngModel)]="colRecord.colEditable" placeholder="Please Select"></p-dropdown></span>
        <sup class="text-danger" [hidden]="true" *ngIf="!colRecord.colEditable">Editable is required</sup>
      </div>
    </div>
  </div>
  <p-footer>
    <p-button label="Save" styleClass="ui-button-secondary mr-3" (onClick)="save()" [disabled]="!colRecord.colName || !colRecord.colType"></p-button>
    <p-button label="Cancel" styleClass="ui-button-secondary" (onClick)="display=false;"></p-button>
  </p-footer>
</p-dialog>

<!-- Toaster -->
<p-toast></p-toast>

