<div class="dashboard-component">

    <div class="">
  
      <!-- <app-main-header-tab [headingLabel]="''"
      [tabList]="tabList"></app-main-header-tab> -->
      <section class="p-grid width-100 p-align-center p-justify-center border-bottom">
          <app-common-menu-tabs [tabList]="tabList" *ngIf="tabList">
          </app-common-menu-tabs>
          <span>
            <p-dropdown  placeholder="Drop Down"></p-dropdown>
          </span>
      </section>
      <router-outlet></router-outlet>
  
    </div>
  
  </div>
  